.nav li {
  float : left;
}

.nav ul ul  {
  float : right;
  list-style-type: none;
}

.nav ul ul li {
  padding-right : 20px;
  /*margin-top: auto;
  margin-bottom: auto;*/
}

.nav ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
}
.nav {
  box-shadow: 0 -4px 0px 4px #edeff0,0 2px 4px 0 rgba(0,0,0,0.2);

}

li a {
  display: block;
  text-decoration: none;
  text-align: center;
}

h1, h3, p, li  {
  font-family: 'Varela Round', sans-serif;
}

body {
  background : #edeff0;
}

#content {
  height : 900px;
}
.course {
  background : rgb(255,255,255);
  width : 45%;
  float : left;
  height : 45%;
  border-radius : 10px;
  margin : 20px;
}

.course-header {
  width : 100%;
  height : 70px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#java .course-header {
  background : #268266;
  background-size : cover;
  width : 100%;
}

#django .course-header {
  background : #ed7ca0;
  background-size : cover;
  width : 100%;
}

#woocommerce .course-header {
  background : #717cbf;
  background-size : cover;
  width : 100%;
}

#javafx .course-header {
  background : #268266;
  background-size : cover;
  width : 100%;
}

.course-header li {
  float : left;
  list-style-type: none;
  height : 50%;

}
.course-header ul ul {
  float : right;
  height : 50%;
  padding-right: 15px;
  color : white;
}

.course-header ul {
  margin : 0;
  padding-top : 15px;
}
